.profile-nav {
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #666;
}

header > div {
    font-family: 'Nunito', sans-serif;
}

a:hover {
    cursor: pointer;
}

.navbar-img {
    max-width: 20em;
    width: 100%;
}

.btn-group {
    font-family: 'Nunito', sans-serif;
}

.main {
    background-image: url(../assets/background.png);
    background-size: cover;
    height: 90vh;
    font-family: 'Nunito', sans-serif;
}

.title > h2 {
    font-size: 5vw;
    font-weight: 500;
}

.title > h1 {
    font-size: 6vw;
    padding: 0.5em 0 0.8em 0;
}

.info {
    font-size: 4vw;
    border: 3px solid white;
    padding: 1em;
}

.act {
    background-image: url(../assets/background-2.png);
    background-size: cover;
    height: 50vh;
    font-family: 'Nunito', sans-serif;
}

.art {
    background-color: white;
    height: 80vh;
    font-family: 'Nunito', sans-serif;
}

.btn:focus {
    box-shadow: none;
}

.art-img > img {
    width: 12vh;
}

.art-info {
    font-size: 0.9em;
}

.partners {
    background-image: url(../assets/background-3.png);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.partners-logos > img {
    width: auto;
    height: 8vh;
}

.footer-img > img {
    width: 25vw;
}

.footer-info {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
}