/* Main Page */

@media screen and (min-width: 1024px) {
  .title > h2 {
    font-size: 2.5vw;
  }

  .title > h1 {
    font-size: 3.5vw;
  }

  .info {
    font-size: 1.5vw;
  }

  .art-img > img {
    width: 13vh;
  }

  .art-info {
    font-size: 1.1em;
  }

  .footer-img > img {
    width: 15vw;
  }

  .footer-info {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .title > h2 {
    font-size: 4vw;
  }

  .title > h1 {
    font-size: 5vw;
  }

  .info {
    font-size: 3vw;
  }

  .art-img > img {
    width: 13vh;
  }

  .footer-info {
    font-size: 1.1em;
  }
}

/* About Page */

@media screen and (min-width: 1024px) {
    .about-title > h2 {
        font-size: 3vw;
    }

    .info-about {
        font-size: 1.8vw;
    }

    .contact {
        font-size: 1.5vw;
    }

    .previous-title > h2 {
        font-size: 3vw;
    }
    
    .previous-title > p{
        font-size: 2vw;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .about-title > h2 {
        font-size: 4vw;
    }

    .info-about {
        font-size: 3vw;
    }

    .contact {
        font-size: 2.5vw;
    }

    .previous-title > h2 {
        font-size: 4vw;
    }
    
    .previous-title > p{
        font-size: 3vw;
    }
}


/* Tickets Page */

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    
}