@media screen and (min-width: 1024px) {
    .title > h2 {
        font-size: 2.5vw;
    }
    
    .title > h1 {
        font-size: 3.5vw;
    }
    
    .info {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1023px){
    .title > h2 {
        font-size: 4vw;
    }
    
    .title > h1 {
        font-size: 5vw;
    }
    
    .info {
        font-size: 3vw;
    }
}