/* Main Page */

@media screen and (min-width: 1024px) {
  .title > h2 {
    font-size: 2.5vw;
  }

  .title > h1 {
    font-size: 3.5vw;
  }

  .info {
    font-size: 1.5vw;
  }

  .art-img > img {
    width: 13vh;
  }

  .art-info {
    font-size: 1.1em;
  }

  .partners-logos {
    margin-bottom: 2.5em;
  }

  .footer-img > img {
    width: 15vw;
  }

  .footer-info {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .title > h2 {
    font-size: 4vw;
  }

  .title > h1 {
    font-size: 5vw;
  }

  .info {
    font-size: 3vw;
  }

  .art-img > img {
    width: 13vh;
  }

  .footer-info {
    font-size: 1.1em;
  }
}

/* About Page */

@media screen and (min-width: 1024px) {
  .about-title > h2 {
    font-size: 3vw;
  }

  .info-about {
    font-size: 1.8vw;
  }

  .contact {
    font-size: 1.5vw;
  }

  .history {
    font-size: 1.8vw;
  }

  .previous-title > h2 {
    font-size: 3vw;
  }

  .previous-title > p {
    font-size: 2vw;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .about-title > h2 {
    font-size: 4vw;
  }

  .info-about {
    font-size: 3vw;
  }

  .contact {
    font-size: 2.5vw;
  }

  .history {
    font-size: 3vw;
  }

  .previous-title > h2 {
    font-size: 4vw;
  }

  .previous-title > p {
    font-size: 3vw;
  }
}

/* Tickets Page */

@media screen and (min-width: 1024px) {
  .tickets-main {
    font-size: 1vw;
  }

  .tickets-title > h2 {
    font-size: 2.3vw;
  }

  .tickets-title > div {
    font-size: 1vw;
  }

  .art-tickets {
    font-size: 1vw;
  }

  .art-tickets-title > h2 {
    font-size: 2.3vw;
  }

  .art-tickets-title > div {
    font-size: 1vw;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .tickets-main {
    font-size: 1.6vw;
  }

  .tickets-title > h2 {
    font-size: 4vw;
  }

  .tickets-title > div {
    font-size: 1.5vw;
  }

  .art-tickets {
    font-size: 1.6vw;
  }

  .art-tickets-title > h2 {
    font-size: 4vw;
  }

  .art-tickets-title > div {
    font-size: 1.5vw;
  }
}
